Repository babarot/enhancd, pull requests merged in 2020-02, with the labels that each got.

#105 Fixes typo in README
  README.md
Labels: stale

#114 Fix cd back to ~/ when aborting fuzzy selection with fish shell
  functions/_enhancd_filter_interactive.fish
Labels: area/fish

#116 Add antigen support
  enhancd.plugin.zsh
Labels: area/zsh
