Repository babarot/enhancd, pull requests merged in 2023-04, with the labels that each got.

#191 Remove completion feature from enhancd
  .github/labels.yaml
  .github/workflows/check-release.yaml
  .github/workflows/import_labels.yaml
  .github/workflows/release.yaml
  .github/workflows/sync_labels.yaml
  README.md
  init.sh
  src/completion.zsh
Labels: area/fish, area/bash, area/zsh

#197 Allow to pipe multiple dirs to cd
  README.md
  docs/piping.tape
  src/cd.sh
Labels: area/bash, area/zsh

#198 Support dot-feature in fish and add `ENHANCD_ARG_SINGLE_DOT`
  README.md
  conf.d/enhancd.fish
  functions/_enhancd_filepath_get_dirs_in_cwd.fish
  functions/_enhancd_sources_current_dirs.fish
  functions/enhancd.fish
  init.sh
  src/cd.sh
Labels: area/fish, area/bash, area/zsh, release/minor

#201 Format awk scripts
  functions/enhancd/lib/fuzzy.awk
  functions/enhancd/lib/has_dup_lines.awk
  functions/enhancd/lib/help.awk
  functions/enhancd/lib/ltsv.awk
  functions/enhancd/lib/reverse.awk
  functions/enhancd/lib/split.awk
  functions/enhancd/lib/step_by_step.awk
  functions/enhancd/lib/to_abspath.awk
Labels: area/awk, kind/cleanup

#192 Add 'format' label to format custom input before passing cd
  README.md
  functions/enhancd.fish
  functions/enhancd/lib/help.awk
  src/cd.sh
Labels: area/fish, area/bash, area/awk, kind/feature

#204 fix fish errors
  functions/_enhancd_filepath_walk.fish
  functions/_enhancd_filter_interactive.fish
  functions/enhancd.fish
  src/filepath.sh
Labels: area/fish, area/bash
