Repository babarot/enhancd, pull requests merged in 2025-01, with the labels that each got.

#221 Single results are still showing the filter #207
  functions/_enhancd_filter_interactive.fish
Labels: area/fish, missing/bash

#219 Use CDPATH if set
  functions/_enhancd_source_history.fish
  functions/enhancd/lib/cdpath.awk
  src/sources.sh
Labels: area/fish, area/bash, area/awk

#229 fix: parent directory containing spaces (#222)
  src/filepath.sh
Labels: area/bash, missing/fish
